.main-wrap{
    .content{
        .topest-element{margin-top: -6px; width: 100%;
            .convert-img{padding: 20px 0 24px;
                img{width: 100%;}
            }
        }
        .bottom-element{margin-top: -5px; padding-bottom: 75px;
            .title-text{font-size: 23px; font-family: "Open Sans", sans-serif; color: rgb(0, 113, 188); line-height: 28px; padding-left: 3px;}
            .description-text{font-size: 13px; font-family: "Open Sans", sans-serif; color: rgb(51, 51, 51); line-height: 16px; padding-top: 5px; padding-top: 11px;}
        }
    }
}