.global-wrapper{max-width: 940px; width: 100%; margin:0 auto; background-color: rgba(255,255,255,0.85); padding: 0 14px;  z-index: 500; position: relative;}
.content-wrapper{max-width: 940px; width: 100%; margin:0 auto; background-color: rgba(255,255,255,0.85); padding: 0 14px; margin-bottom: 10px; }
.background{width: 100%; min-height: 100vh; background-size:100% auto; background-repeat: no-repeat; padding: 50px 11px 0; overflow: hidden;}
.no-footer{height: 30px; width: 100%; background-color: transparent;}
/*header*/

    .header-wrap{padding-bottom: 15px; position: relative;

        .logo{float:left;    padding: 20px 0 0 4px;}
        .search{float: left; padding: 28px 0 0 72px;
            .search-show{display: none;}
            form{position: relative;}
            span{ font:300 italic 10px/10px 'Open Sans';  color: #b3b3b3; position: absolute;     top: 11px;    left: 17px;}
            button{border-radius: 50%; background-color: #fff; width: 29px; height: 29px; position: relative; border:none; cursor: pointer; position: absolute; right: 0; top: 1px;
                &:before{background-image: url(../images/ico-search.png); background-position: center center; background-repeat: no-repeat; width: 13px; height: 13px; position: absolute; left: calc(50% - 6.5px); top: calc(50% - 6.5px); display: block; content: '';}
            }
            input{display: block; background-color: #ecf6fb; width: 218px; height: 31px; border-radius: 15px; border:1px solid #e7f1f8; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05), inset 0px 0px 4px 0px rgba(0,0,0,0.05); position: relative;font:300 italic 10px/10px 'Open Sans';  color: #777; padding-left: 17px;}
            ::-webkit-input-placeholder {font:300 italic 10px/10px 'Open Sans';  color: #777;}
            :-moz-placeholder {font:300 italic 10px/10px 'Open Sans';  color: #777;}
            ::-moz-placeholder {font:300 italic 10px/10px 'Open Sans';  color: #777;}
            :-ms-input-placeholder {font:300 italic 10px/10px 'Open Sans';  color: #777;}
            input:active+span{display: none;}
            input:focus+span{display: none;}
            .errorText{display: none!important;}
        }
        .phonelist{float: right; padding: 17px 10px 0 0;
            span{font:400 12px/12px 'Open Sans'; color: #4d4d4d;}
            i{background-position: center center; background-repeat: no-repeat; width: 12px; height: 12px; display: inline-block;vertical-align: middle;  margin-right: 5px;}
            .phone{
                i{background-image: url(../images/ico-phone.png);}
            }
            .fax{
                i{background-image: url(../images/ico-fax.png);}
            }
        }
    }
    nav{
        .top-menu{ width: calc(100% + 40px); position: relative; left: -20px;
            &:before,
            &:after{content: ''; display: block; top:43px; width: 0; height: 0; position: absolute;}
            &:before{left: 0;
                    border: 3px solid transparent;
                    border-top: 3px solid #10384e;
                    border-right: 3px solid #10384e;
            }
            &:after{right: 0;
                    border: 3px solid transparent;
                    border-top: 3px solid #10384e;
                    border-left: 3px solid #10384e;
            }
            .butter{width: 56px; height: 44px; background-color: #fff; box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.1);     padding-top: 12px; position: absolute; top: 0; left: 0; cursor: pointer; display: none;
                &:before{content: ''; display: block; top: 13px;    left: 8px; width: 0; height: 0; position: absolute; opacity: 0; transition: opacity 500ms;
                    border: 9px solid transparent;
                    border-right: 9px solid #f05323;
                }
                p{display: block; height: 5px; border-radius: 1px; background-color: #f05323; width: 20px;  opacity: 1;  margin: 0 auto 2px; transition: opacity 500ms;}
                &.active{
                     &:before{opacity: 1;}
                     p{opacity: 0;}
                }
            }
            ul{width: 100%; background-color: #fff; display: flex; justify-content:space-around; padding: 14px 78px 0; height: 43px;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);  transform-origin:left top; transform:scale(1,1);
                &.slideThis{transform:scale(1,1); opacity:1;}
            }
            li{display: inline-block;}
            a{font:400 14px/14px 'Roboto Condensed'; color: #333; text-decoration: none;}
            .active{
                a{font:700 14px/14px 'Roboto Condensed'; position: relative;
                    &:before{content: ''; width: 100%; height: 3px; background-color: #f05323; position: absolute; left: 0;  bottom: -12px;}
                }
            }

        }
    }
/*END header*/
/*footer*/
    .footer-wrap{text-align: center;
       ul{display: inline-block;padding-bottom: 15px;}
       li{float:left;margin-right: 1px;}
       a{width: 23px;height: 23px; background-color: rgba(255,255,255,0.85); display: block;position: relative;}
       i{display: block; background-position: left top; background-repeat: no-repeat; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%);
            &.yt{background-image: url(../images/soc-yt.png);width: 12px; height: 15px;}
            &.fb{background-image: url(../images/soc-fb.png);width: 8px;height: 14px;}
            &.tw{background-image: url(../images/soc-tw.png);width: 12px;height: 10px;}
            &.vk{background-image: url(../images/soc-vk.png);width: 16px;height: 9px;}
            &.gp{background-image: url(../images/soc-gp.png);width: 16px;  height: 11px;}
       }
    }
/*END footer*/
/*asmi*/
    .asmi-wrap{padding-bottom: 20px;
        .subtitle{font:700 16px/19px 'Open Sans'; color: #104766; padding-bottom: 24px;}
        .content{width: 100%; position: relative;
            .bg{overflow: hidden; img{min-height: 528px; max-width: none;}}
            .content-align{position: absolute; z-index: 50; top: 0; height: 100%; width: 100%;}
            .txt{color: #fff; font:300 14px/19px 'Open Sans'; background-color: rgba(0,0,0,0.7); width: 55%; z-index: 50; position: relative;  padding: 89px 27px 0;  height: 100%; float:left;
                h3{font:600 23px/23px 'MyriadPro'; padding-bottom: 13px;}
            }
            .img{  width: 45%;text-align: center;float:left; padding-top: 51px; min-width: 180px;}
        }
    }
/*END asmi*/
/*prod01*/
    .prod01{
        .title{display: none;}
        .mbox{    padding: 0 4px;}
        .prod01-wrap{display: flex; justify-content:space-between; padding: 19px 0 148px;
            .item{position: relative; display: inline-block;
                .img{width: 212px; height: 305px; position: relative; overflow: hidden; border-radius: 3px;     margin-bottom: 145px;
                    img{max-width: none; display: block; position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%);}
                }
                .img2{width: 276px; height: 160px;  position: relative; overflow: hidden; border-radius: 3px; display: none;
                    img{max-width: none; display: block; position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%);}
                }
                .txt{max-width: 191px; width: 100%; background-color: #fff; border-radius: 3px; box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1); position: absolute; top: 220px; left: calc(50% - 95px);   min-height: 211px;  padding: 17px 18px 0 14px;
                    h5{font:700 16px/16px 'Roboto Condensed'; color: #f15a24; border-bottom: 1px solid #f3f3f3; width: 100%;  padding-bottom: 14px;    margin-bottom: 9px;}
                    ul{}
                    li{    margin-bottom: 5px;}
                    a{font:400 12px/12px 'Roboto Condensed'; color: #0071bc; text-decoration: none;
                        &:hover{text-decoration: underline;}
                    }
                }
            }
        }
    }
/*END prod01*/