.background{background-color: #046eac;}

/*breadcrumbc*/
.breadcrumb-navigation{font-size: 10px;color: #000000;padding-top: 28px;padding-bottom: 19px;
    li{display: inline-block;}
    span{color: #808080;}
    a{color: #808080;text-decoration: underline;
        &:hover{text-decoration: none;}
    }
}
/*/breadcrumbc*/

/*title*/
.title{font-weight: 500;font-size: 18px;color: #f05323;padding-bottom: 18px;

}
/*/title*/

/*vacant*/
.vacant{
    .items{padding-bottom: 10px;
        .item{float: left;width: 32%;margin-right: 2%;margin-bottom: 15px;border: 1px solid rgba(236, 242, 247, 0.68);border-top: none;padding: 17px;height: 196px;
            &:nth-child(3n){margin-right: 0;}
            .title-text{color: #1c80a3;font-weight: bold;font-size: 14px;border-bottom: 2px solid #d9d9d9;padding-bottom: 14px;margin-bottom: 11px;
                a{color: inherit;text-decoration: none;}
            }
            .text{font-size: 12px;color: #000000;line-height: 19px;overflow: auto;height: 100px;}
            .more{
                a{font-size: 12px;text-decoration: underline;color: #29abe2;
                    &:hover{text-decoration: none;}
                }
            }
        }
    }
    .mobile-show-more{display: none;width: 100%;text-align: center;
        span{display: inline-block;max-width: 123px;width: 100%;color: #fff;background-color: #f05323;line-height: 35px;font-weight: bold;height: 35px;margin: 0 auto;text-decoration: none;cursor: pointer;}
    }
}
/*/vacant*/

/*vacant-inner*/
.vacant-inner{
    .item{background-color: #fff;padding: 15px;margin-bottom: 29px;
        .title-text{font-weight: bold;color: #1c80a3;font-size: 16px;border-bottom: 2px solid #d9d9d9;padding-bottom: 15px;margin-bottom: 15px;}
        .subtitle-text{font-family: 'Roboto Condensed';color: #b3b3b3;font-size: 10px;}
        .text{font-size: 12px;color: #000;line-height: 19px;}
    }
    .vacant-bottom{position: relative;
        .or{position: absolute;width: 100%;top: 41px;left: 0;overflow: hidden;height: 10px;
            span{position: absolute;left: 38%;z-index: 5;font-weight: bold;color: #f05323;font-size: 10px;padding: 0 8px;display: inline-block;
                &:after{height: 2px;position: absolute;width: 600px;right: 100%;top: 5px;background-color: #d8e1e5;content: '';z-index: 2;}
                &:before{height: 2px;position: absolute;width: 900px;left: 100%;top: 5px;background-color: #d8e1e5;content: '';z-index: 2;}
            }
        }
        .item{float: left;background-color: transparent;padding: 0;
            &.item-1{width: 43%;}
            &.item-2{width: 57%;padding-left: 33px;}
        }
        .item-title{font-weight: 600;font-size: 14px;line-height: 19px;max-width: 262px;}
        .item-text{padding-top: 22px;font-size: 12px;
            span{color: #1c80a3;}
            p{line-height: 19px;}
        }
    }
}
/*/vacant-inner*/

.contact-form{padding-top: 26px;
    .form_row{margin-bottom: 6px;
        &.file,&.capcha{padding-left: 75px;
            p{font-size: 10px;color: #666666;margin-top: 11px;}
        }
        &.file{padding-top: 5px;}
        span{color: #999999;font-family: 'Roboto Condensed';display: inline-block;width: 72px;text-align: left;font-size: 10px;}
        input{height: 26px;line-height: 26px;background-color: #fff;color: #333333;font-family: 'Roboto Condensed';font-weight: bold;border:1px solid #a0b9c8;max-width: 214px;width: 100%;border-radius: 2px;padding: 0 10px;}
        .jq-file__browse{width: 106px;height: 25px;color: white;background-color: #b3b3b3;border-radius: 2px;text-align: center;font-size: 10px;line-height: 25px;cursor: pointer;}
        .jq-file__name{position: absolute;top: 6px;left: 114px;font-size: 10px;color: #000;}
        .jq-file{position: relative;width: 100%;}

        .capcha{
            p{font-size: 10px;color: #000;margin-top: 20px;margin-bottom: 11px;}
            .capcha-img{max-width: 104px;margin-right: 17px;display: inline-block;vertical-align: top;}
            .capcha-text{max-width: 92px;display: inline-block;
                input{height: 25px;line-height: 25px;background-color: #fff;color: #333333;font-family: 'Roboto Condensed';font-weight: bold;border:1px solid #a0b9c8;border-radius: 2px;padding: 0 10px;width: 100%;}
            }
        }
    }
}