<div class="asmi-wrap">
    <div class="asmi-align">
        <div class="title">
            <h1>ASMI</h1>
        </div>
        <div class="subtitle">
            <p>Институт Маркетинга Морепродуктов Аляски (Alaska Seafood Marketing Institute – ASMI)</p>
        </div>
        <div class="content">
            <div class="bg"><img src="images/asmi-content.jpg" alt=""></div>
            <div class="content-align cfix">
                 <div class="img"><img src="images/asmi-logo.png" alt=""></div>
                <div class="txt">
                    <h3>Alaska Seafood Marketing Institute</h3>
                    <br/>
                    <p>Lorem ipsum dolor sit amet, his sonet fierent prodesset et, duo habemus tractatos accusamus no. Choro dissentiet ne nec, viris labore ex mei. Mea veri affert equidem no, sint integre habemus eos no. Pri illum epicurei ne.</p>
                    <br/>
                    <p>Brute verear delenit quo te, te dicunt consulatu pri, has solum putent virtute eu. Sit quem iusto ut. Illum invidunt imperdiet ne sit, illud pertinax convenire cu ius. Quo ne errem signiferumque, soluta quidam accommodare pro cu. Apeirian elaboraret liberavisse id per. Maluisset signiferumque ei eos.</p>
                    <br/>
                    <p>Nam no prompta periculis, cu nihil offendit eum. Eu vis ancillae pertinax, ne noster insolens vim. Ipsum detraxit intellegam cu has, euismod qualisque vulputate te pri. At aliquid patrioque quo, usu at saepe quando dissentiet, sit mutat brute cu. Feugiat qualisque laboramus id qui, nominati delicata usu an. Sed aliquam ornatus eu.</p>
                </div>

            </div>
        </div>
    </div>
</div>




