<div class="contacts">
    <div class="mbox">
        <div class="title">
            <h1>Контакты</h1>
        </div>
        <div class="contacts-items cfix">
            <div class="item item-1">
                <div class="item-wrap">
                    <div class="item-title">Контакты компании "ОПТИМ АЛЬЯНС"</div>
                    <div class="item-text">
                        <b>Телефоны: </b><br>
                        <a href="callto:+74956402839"><i class="icon icon-tel"></i><span>+7(495) 640-28-39; </span></a><br>
                        <a href="callto:+74957884870"><i class="icon icon-tel"></i><span>+7(495) 788-48-70.</span></a><br>
                        <b>Факс: </b><br>
                        <a href="callto:+74956402839"><i class="icon icon-fax"></i><span>+7(495) 640-28-39.</span></a>
                        <br><br>

                        <b>Email: </b><br>
                        <span>По общим вопросам</span><br>
                        <a href="mailto:info@redcaviar.ru"><i class="icon icon-mail"></i><span>info@redcaviar.ru</span></a><br>
                        <span>По вопросам покупки товара </span><br>
                        <a href="mailto:sales@redcaviar.ru "><i class="icon icon-mail"></i><span>sales@redcaviar.ru</span></a><br>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="item-wrap">
                    <div class="item-title">Форма обратной связи</div>
                    <div class="item-text">
                        <div class="contact-form">
                            <form action="" name="contact-form" >
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <span>Ваши имя * </span>
                                        <input type="text" name="contact_name" placeholder="Ваши имя *" required="required" value="">
                                    </div>
                                </div>
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <span>Ваш e-mail *</span>
                                        <input type="email" name="contact_email" required="required" value="" placeholder="Ваш e-mail *">
                                    </div>
                                </div>
                                <div class="contact-form-item-input form_row textarea">
                                    <div class="form_input">
                                        <span>Сообщение *</span>
                                        <textarea  id="" name="contact_area" required="required" placeholder="Сообщение *"></textarea>
                                    </div>
                                </div>
                                <div class="contact-form-item-input form_row capcha">
                                    <div class="form_input">
                                        <div class="capcha">
                                            <p>Введите код, указанный на картинке:</p>
                                            <div class="capcha-img"><img src="images/capcha.jpg" alt=""></div>
                                            <div class="capcha-text">
                                                <input type="text" name="capcha-text"  value="" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <span></span>
                                        <button type="submit">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map">

        </div>
    </div>
</div>