<!-- HEADER -->
<header>
    <div class="header-wrap cfix">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="search">
            <div class="search-show"></div>
            <form action="ajax.php" name="search-form" class="search-form">
                <div class="form_row">
                    <div class="form_input">
                        <label>
                            <input type="text"  name="search" required="required">
                            <span>Поиск...</span>
                        </label>
                    </div>
                </div>

                <button type="submit"></button>
            </form>
        </div>
        <div class="phonelist">
            <div class="phone"><i></i><span>+7 (495) 640 28 39</span></div>
            <div class="phone"><i></i><span>+7 (495) 788 48 70</span></div>
            <div class="fax"><i></i><span>+7 (495) 640 28 39</span></div>
        </div>
    </div>
    <nav>
        <div class="top-menu">
            <div class="butter">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <ul>
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Магазин</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">ASMI</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- /HEADER -->

