<div class="main-wrap">
    <div class="content">
        <div class="topest-element">
            <!-- <div class="convert-embled-element">
                <object width="912" height="300" type="application/x-shockwave-flash">
                    <param name="movie" value="http://redcaviar.ru/upload/flash/header1.swf">
                    <param name="allowFullScreen" value="true">
                    <param name="allowscriptaccess" value="always">
                    <param name="wmode" value="transparent">
                    <embed  allowfullscreen="true" allowscriptaccess="always" quality="high" wmode="transparent" src="http://redcaviar.ru/upload/flash/header1.swf" autostart="true" type="application/x-shockwave-flash"/>
                </object>
            </div> -->
            <!-- <div class="convert-img">
                <img src="images/zaglyshka.jpg" alt=""/>
            </div> -->
            <div id='coin-slider'>
                <a href="images/coin01.jpg">
                    <img src='images/coin01.jpg' >
                    <span></span>
                </a>
                <a href="images/coin02.jpg">
                    <img src='images/coin02.jpg' >
                    <span></span>
                </a>
                <a href="images/coin03.jpg">
                    <img src='images/coin03.jpg' >
                    <span></span>
                </a>

            </div>
        </div>
        <div class="bottom-element">
            <div class="title-text">
                <h1>"ОПТИМ АЛЬЯНС"</h1>
            </div>
            <div class="description-text">
                Компания ООО"ОПТИМ АЛЬЯНС" с 1995 года работает на российском рынке морепродуктов деликатесной группы и зарекомендовала себя как ответственный производитель и надежный партнер.
            </div>
        </div>
    </div>
</div>