<section class="news-inner">
    <div class="news-inner-wrap">
        <div class="mbox">
            <div class="title">
                <h1>Новости</h1>
            </div>
            <div class="content">
                <div class="img"><img class="b-lazy" src="images/default.gif" data-src="images/news-inner.jpg" alt=""></div>
                <div class="txt">
                    <div class="date">
                        <p>16.10.2015</p>
                    </div>
                    <div class="titl">
                        <p>Снабжение и потребление морепродуктов в Европе увеличивается.</p>
                    </div>
                    <div class="text">
                        <p>Согласно информации нового доклада, потребители из стран ЕС в прошлом году имели доступ к 14,4 млн. тонн морепродуктов, что соответствует приросту на 1,7% или на 241000 тонн, то есть близко к рекордным показателям объёмов, поставленных в 2007-2008 гг.</p>
                        <p>По данным «Обзора пелагических пород рыб за 2015 год», составленного Ассоциацией переработчиков и торговцев рыбной продукцией стран ЕС, суммарные поставки морепродуктов для потребления человеком на внутренний рынок ЕС в прошлом году составили 5,3 млн. тонн, что соответствует приросту на 1,1%, а общие объёмы импорта морепродуктов составили 9,1 млн. тонн – прирост на 2,1%.</p>
                        <p>Вместе с тем, страны ЕС экспортировали рекордный объём продукции в размере 2,2 млн. тонн, в результате чего чистое потребление составило 12,2 млн. тонн, что соответствует приросту в размере 82000 тонн или 0,7% в сравнении с показателями 2013 года.</p>
                        <p>По словам представителей Ассоциации, в результате показатель потребления на душу населения в странах-участницах ЕС в 2014 году увеличился на 100 г и составил 24,4 кг. Тунец, лосось и треска были самыми популярными видами рыбы на рынке, на каждый из которых пришлось порядка 1,3 млн. тонн.</p>
                        <p>– Привлечение в данный сектор новых потребителей, а также возвращение тех, кто, возможно, был менее активен в последние годы, стало вызовом для рыбодобывающей промышленности, но последние данные свидетельствуют, что это происходит с большим успехом. Мы наблюдаем благоприятную возможность для того, чтобы воспользоваться этим толчком и перейти к дальнейшему росту, – говорится в докладе.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>