<section class="news">
    <div class="news-wrap">
        <div class="mbox cfix">
            <div class="title">
                <h1>Новости</h1>
            </div>
            <div class="tabs-wrapp">
                <ul class="cfix">
                    <li class="active"><a href="#"><span>Общие</span></a></li>
                    <li><a href="#"><span>Экономика</span></a></li>
                    <li><a href="#"><span>Технологии</span></a></li>
                    <li><a href="#"><span>Наука</span></a></li>
                    <li><a href="#"><span>Аквакультура</span></a></li>
                </ul>
            </div>
        </div>
        <div class="content-news">
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news01.jpg"    alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news03.jpg"       alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news02.jpg"        alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news01.jpg"       alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news03.jpg"      alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><a href="#"><img class="b-lazy" src="images/default.gif" data-src="images/news02.jpg"       alt="Image description" /></a></div>
                <div class="txt">
                    <div class="date"><p>16.10.2015</p></div>
                    <div class="title-news">
                        <a href="#">Снабжение и потребление морепродуктов в Европе увеличивается.</a>
                    </div>
                    <div class="text-news">
                        <p>Lorem ipsum dolor sit amet, ex blandit partiendo periculis est. An omnis nusquam vix, saperet inermis liberavisse pro ne. Ius id wisi veritus. Usu novum deleniti in, nam ex scaevola pertinacia, cu altera menandri adolescens nam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator-buttons">
            <div class="desctop">
                <a class="first" href="#"></a>
                <a rel="prev" href="#"></a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">36</a>
                <a href="#">35</a>
                <a rel="next" href="#"></a>
                <a class="last" href="#"></a>
            </div>
            <a href="#" class="show-more">Показать еще</a>
        </div>
    </div>
</section>