<section id="prod01" class="prod01">
    <div class="mbox">
        <div class="title">
          <h1>Продукция</h1>
        </div>
        <div class="prod01-wrap">

            <div class="item-wrap">
                <div class="item">
                    <div class="img"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-1.png" alt=""></div>
                    <div class="img2"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-1a.png" alt=""></div>
                    <div class="txt">
                        <h5>Красная икра</h5>
                        <ul>
                            <li><a href="#">Горбуша</a></li>
                            <li><a href="#">Кета</a></li>
                            <li><a href="#">Кижуч</a></li>
                            <li><a href="#">Нерка</a></li>
                            <li><a href="#">Семга</a></li>
                            <li><a href="#">Форель</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item">
                    <div class="img"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-2.png" alt=""></div>
                    <div class="img2"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-2a.png" alt=""></div>
                    <div class="txt">
                        <h5>Ястык</h5>
                        <ul>
                            <li><a href="#">Горбуша</a></li>
                            <li><a href="#">Кета</a></li>
                            <li><a href="#">Кижуч</a></li>
                            <li><a href="#">Нерка</a></li>
                            <li><a href="#">Форели</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item">
                    <div class="img"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-3.png" alt=""></div>
                    <div class="img2"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-3a.png" alt=""></div>
                    <div class="txt">
                        <h5>Рыба лососёвые</h5>
                        <ul>
                            <li><a href="#">Горбуша</a></li>
                            <li><a href="#">Кета</a></li>
                            <li><a href="#">Кижуч</a></li>
                            <li><a href="#">Нерка</a></li>
                            <li><a href="#">Семга</a></li>
                            <li><a href="#">Форель</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item">
                    <div class="img"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-4.png" alt=""></div>
                    <div class="img2"><img class="b-lazy" src="images/default.gif" data-src="images/prod01-4a.png" alt=""></div>
                    <div class="txt">
                        <h5>Морепродукты и рыба</h5>
                        <ul>
                            <li><a href="#">Крабы</a></li>
                            <li><a href="#">Креветки</a></li>
                            <li><a href="#">Кальмары</a></li>
                            <li><a href="#">Печень</a></li>
                            <li><a href="#">Гребешок</a></li>
                            <li><a href="#">Икра морского ежа</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




