<section class="prod03">
<div class="mbox">
    <div class="prod03-wrap">
        <div class="title">
            <h1>Красная икра Горбуши оптом</h1>
        </div>
        //= slider.html
        <div class="txt-box">
            <p><span>Всю нашу продукцию Вы можете приобрести в нашем </span><a href="#">Интернет-магазине</a></p>
            <div class="hr"></div>
            <h5>ОПТОВАЯ ПРОДАЖА ГОРБУШИ</h5><br/>
            <p>Компания «Оптим Альянс» с 1995 года поставляет высококачественную красную икру ценных лососевых рыб. За 20 лет работы мы обзавелись проверенными партнерами, производящими продукцию, отвечающую стандартам качества. У нас можно купить икру горбуши оптом. Широкий ассортимент товара способен удовлетворить взыскательных клиентов.</p><br/>
            <p>Вся икра прошла проверку нашими специалистами. Мы сотрудничаем только с ведущими рыбными хозяйствами, гарантирующими качество продукции. Каждый товар имеет свои особенности, которые мы учитываем при отборе и последующей поставке клиентам. Икру горбуши оптом мы предлагаем партнерам, закупающим качественную продукцию стандартных, средних размеров. Диаметр икринок составляет 4-6 мм.</p><br/>
            <p>За 20 лет работы на рынке морепродуктов компания «Оптим Альянс» показала себя в роли надежного партнера, готового идти навстречу клиенту. Цена на икру горбуши оптом выгодно отличается от розничной стоимости продукции. Минимальный заказ – 1 контейнер (20 тонн). Мы ценим каждого клиента, поэтому всем нашим партнерам гарантирован индивидуальный подход в выборе вариантов оплаты и доставки товара.</p><br/>
            <p>Наша цена на икру горбуши оптом вас приятно удивит. С нами выгодно сотрудничать по следующим причинам:</p><br/>
            <span>
                <b>Главные преимущества нашей продукции:</b>
                <ul>
                    <li>Икра без примесей, однородная, рассыпчатая, одного вида рыбы.</li>
                    <li>Вкус характерный для конкретной рыбы, возможна легкая горечь или острота.</li>
                    <li>Соль не превышает 6% от общей массы.</li>
                    <li>Икринки упругие, размером от 5 мм.</li>
                </ul>
            </span><br/>
            <p>В лице компании «Оптим Альянс» вы встретите надежного партнера, гарантирующего бесперебойные поставки высококачественной продукции. Постоянный поиск лучших поставщиков икры, улучшение сервиса, грамотная ценовая политика привлекает к нам клиентов со всех уголков России. Присоединяйтесь и вы к нашей дружной, большой семье.</p><br/>
        </div>
    </div>
    </div>
</section>