<section class="prod02">
<div class="mbox">
    <div class="prod02-wrap">
        <div class="title">
            <h1>Икра оптом в Москве</h1>
        </div>
        <div class="txt-box">
            <p>Компания «Оптим Альянс» уже 20 лет занимается поставкой высококачественной икры оптом. За это время мы наработали большой опыт в крупной и мелкой оптовой торговле, обзавелись проверенными поставщиками. Ответственность, компетентность, надежность, стабильность – это приоритеты компании.</p><br/>
            <p>«Оптим Альянс» предлагает клиентам широкий ассортимент продукции даров моря. Мы поставляем проверенную икру оптом от производителя из Камчатки, Сахалина, Владивостока и других городов России. </p><br/>
            <span>
                <b>Главные преимущества нашей продукции:</b>
                <ul>
                    <li>Икра без примесей, однородная, рассыпчатая, одного вида рыбы.</li>
                    <li>Вкус характерный для конкретной рыбы, возможна легкая горечь или острота.</li>
                    <li>Соль не превышает 6% от общей массы.</li>
                    <li>Икринки упругие, размером от 5 мм.</li>
                </ul>
            </span><br/>
            <p>Вся продукция соответствует стандартам, предусмотренным для I сорта. Цены на икру оптом выгодно отличаются от розничных. Стоимость продукции оговаривается с каждым клиентом в индивидуальном порядке. Цена зависит от заказываемого объема, вариантов расчета за продукцию, а также от скорости поставки.</p><br/>
            <p>Мы осуществляем продажу икры оптом в 20-тонных контейнерах. Минимальный объем заказа – 1 контейнер. Но возможны и другие варианты. Мы подбираем индивидуальный подход к каждому клиенту. В любом случае будет выбран наиболее приемлемый для партнера вариант поставки и объема продукции.</p><br/>
            <p>Начав работать в 1995 году, компания «Оптим Альянс» зарекомендовала себя как надежный производитель и поставщик морепродуктов. </p><br/>
            <span>
                <b>У нас выгодно покупать лососевую икру оптом по следующим причинам:</b>
                <ul>
                    <li>Вся продукция сертифицирована.</li>
                    <li>Наши специалисты проводят тщательный отбор икры на проверенных российских рыбоперерабатывающих предприятиях.</li>
                    <li>Клиент покупает икру оптом, расфасованную в контейнеры, обеспечивающие сохранность продукции во время транспортировки и хранения.</li>
                </ul>
            </span><br/>
            <p>Сотрудничество с нами прибыльно для вашего бизнеса. Партнерство с «Оптим Альянс» – это высококачественная продукция, своевременные поставки, грамотный сервис и выгодные цены. </p><br/>
            <p><span>Всю нашу продукцию Вы можете приобрести в нашем </span><a href="#">Интернет-магазине</a></p>
        </div>
        <div class="tags">
            <a href="#">Горбуши</a>
            <a href="#">Кеты</a>
            <a href="#">Нерки</a>
            <a href="#">Кижуча</a>
            <a href="#">Форели</a>
            <a href="#">Гренадер</a>
            <a href="#">Минтая</a>
            <a href="#">Мойвы</a>
            <a href="#">Треска</a>
        </div>
    </div>
    </div>
</section>