<div class="slider-wrap">
    <div class="slider">
        <div class="item">
            <div class="img"><img src="images/slide1.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide2.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide3.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide4.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide1.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide2.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide3.jpg" alt=""></div>
        </div>
        <div class="item">
            <div class="img"><img src="images/slide4.jpg" alt=""></div>
        </div>
    </div>
</div>