<div class="vacant-inner">
    <div class="title">
        <h1>Вакансии</h1>
    </div>
    <div class="item">
        <div class="title-text">
            Копирайтер
        </div>
        <div class="subtitle-text">
            ОПИСАНИЕ ВАКАНСИИ
        </div>
        <div class="text ctext">
            <p>Компания, предоставляющая услуги по написанию академических работ на английском языке объявляет набор ПИСАТЕЛЕЙ.</p>
            <p><strong>Основные требования:</strong> свободное владение английским языком, умение находить необходимую информацию, четко излагать свои мысли и следовать требованиям заказчика.</p>
            <p><strong>Условия:</strong> ежемесячная зарплата от выработки и бонусы для лучших писателей, обучение и поддержка.</p>
            <p><strong>Key responsibilities:</strong>  Working as a freelance writer, you will be required to create original and exceptional writings in English language only based on accurate sources for a great number of students. There is a vast variety of orders that can be chosen from a database; thus, you will be able to concentrate on the topics of your preference. However, you are expected to comply with the customer’s requirements.</p>
        </div>
    </div>
    <div class="vacant-bottom cfix">
        <div class="or">
            <span>или</span>
        </div>
        <div class="item item-1">
            <div class="item-wrap">
                <div class="item-title">Свяжитесь с нами для получения дополнительной информации</div>
                <div class="item-text">
                    <p><span>Отдел кадров:</span></p>
                    <br>
                    <p>Kempinski Hotel Corvinus Budapest</p>
                    <p>Erzsébet tér 7-8</p>
                    <p>1051 Budapest | Будапешт</p>
                    <p>Hungary | Венгрия</p>
                    <br>
                    <p>Tел.: +36 1 429 3777</p>
                    <p>Tел.: +36 1 429 3777</p>
                    <p>Эл. п.: hotel.corvinus@kempinski.com</p>
                </div>
            </div>
        </div>
        <div class="item item-2">
            <div class="item-wrap">
                <div class="item-title">Отправте Ваше резюме и мы с Вами свяжемся</div>
                <div class="contact-form">
                    <form action="" name="contact-form" >
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span>Ваши имя * </span>
                                <input type="text" name="contact_name" required="required" value="">
                            </div>
                        </div>
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span>Ваш e-mail *</span>
                                <input type="text" name="contact_name" required="required" value="">
                            </div>
                        </div>
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="file" name="contact_mail">
                            </div>
                            <p>Поддерживаются форматы: doc, docx, rtf, txt, odt, pdf (1 Мб)</p>
                        </div>
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span></span>
                                <div class="capcha">
                                    <div class="capcha-img"></div>
                                    <div class="capcha-text">
                                        <input type="text" name="capcha-text"  value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span></span>
                                <button type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>