<div class="vacant-inner">
    <div class="title">
        <h1>Вакансии</h1>
    </div>
    <div class="item">
        <div class="title-text">
            Копирайтер
        </div>
        <div class="subtitle-text">
            ОПИСАНИЕ ВАКАНСИИ
        </div>
        <div class="text ctext">
            <p>Компания, предоставляющая услуги по написанию академических работ на английском языке объявляет набор ПИСАТЕЛЕЙ.</p>
            <p><strong>Основные требования:</strong> свободное владение английским языком, умение находить необходимую информацию, четко излагать свои мысли и следовать требованиям заказчика.</p>
            <p><strong>Условия:</strong> ежемесячная зарплата от выработки и бонусы для лучших писателей, обучение и поддержка.</p>
            <p><strong>Key responsibilities:</strong>  Working as a freelance writer, you will be required to create original and exceptional writings in English language only based on accurate sources for a great number of students. There is a vast variety of orders that can be chosen from a database; thus, you will be able to concentrate on the topics of your preference. However, you are expected to comply with the customer’s requirements.</p>
        </div>
    </div>
</div>