/*header*/
    @media screen and (max-width: 992px){
        header {    padding-bottom: 62px;}
        .header-wrap {padding-bottom: 26px;}
        nav{
            .top-menu{
                .butter{display: block;}
                li{display: block;     padding: 14px 15px 15px;position: relative;
                    &:before{content: ''; display: block; position: absolute; left:0; bottom: 0; width: 100%; height: 2px; background-color: #ececec; }
                }
                ul{ display: block; height: auto; max-width: 220px; left: 46px; top: -21px; position: absolute; padding: 15px 22px 14px; transform:scale(0,0); opacity: 0; transition:all 500ms;}
                a{font-size: 19px;}
                .active{
                    a{font-size: 19px; color: #104766; letter-spacing: 0px;
                        &:before{display: none;}
                    }
                }
            }
        }
        .background{padding: 11px;}
        .global-wrapper{margin-bottom: 8px;}
    }
     @media screen and (max-width: 800px){
        .header-wrap {
            .search{float:none; position: absolute; right: -20px;  padding: 0 63px 0 0; height: 44px; top:95px; overflow: hidden;

                .search-show{ position: absolute; width: 56px; height: 44px; background-color: #fff; box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.1); padding: 0;     right: 0;     top: 0; display: block; z-index: 50;
                    &:before{background-image: url(../images/ico-searchB.png); background-position: center center; background-repeat: no-repeat; width: 18px; height: 18px; position: absolute; left: calc(50% - 9px); top: calc(50% - 9px); display: block; content: ''; opacity: 1; transition: opacity 500ms;}
                     &:after{content: ''; display: block; top: 13px; left: 30px; width: 0; height: 0; position: absolute; opacity: 0; transition: opacity 500ms;
                            border: 9px solid transparent;
                            border-left: 9px solid #f05323;
                        }
                    &.active{
                        &:before{opacity: 0;}
                        &:after{opacity: 1;}
                    }

                }
                form{margin-top: 5px; left:110%; opacity: 0; transition:all 500ms;
                    &.slideThis{opacity: 1;  left:0; }
                }

            }
        }

     }
     @media screen and (max-width: 530px){
        .header-wrap{text-align: center;
            .logo{float:none;  display: inline-block;  padding: 26px 0 0 0;}
            .search{top: 93px;z-index: 500;}
            .phonelist{float: none; display: inline-block; padding: 16px 0 0 0;
                span{font:400 15.12px/15.12px 'Open Sans';}
                i{width: 15px;height: 15px;}
                .phone{margin-bottom: 5px;
                    i{background-image: url(../images/ico-phone2.png);}
                }
                .fax{
                    i{background-image: url(../images/ico-fax2.png);}
                }
            }
        }
        nav{margin-top: -74px;}
     }
/*END header*/
/*footer*/
     @media screen and (max-width: 992px){
        .footer-wrap{
           ul{padding-bottom: 30px;}
           li{margin-right: 2px;}
           a{width: 33px;height: 33px;}
           i{
                &.yt{background-image: url(../images/soc-yt2.png);width: 17px; height: 20px;}
                &.fb{background-image: url(../images/soc-fb2.png);width: 10px;height: 20px;}
                &.tw{background-image: url(../images/soc-tw2.png);width: 16px;height: 14px;}
                &.vk{background-image: url(../images/soc-vk2.png);width: 22px;height: 14px;}
                &.gp{background-image: url(../images/soc-gp2.png);width: 23px;  height: 14px;}
           }
        }
    }
/*END footer*/
/*asmi*/
    @media screen and (max-width: 992px){
        .asmi-wrap{
            .content{
                .txt{width: 70%; }
                .img{  width: 30%;}
            }
        }
    }
    @media screen and (max-width: 700px){
        .asmi-wrap{
            .title { padding-bottom: 14px;  padding-top: 12px;}
            .content{position: relative;
                .content-align{position: relative;}
                .bg{height: 110px; position: absolute; width:calc(100% + 28px); left:-14px;
                    img{ max-width: 129%;  min-height: auto;  position: absolute; right: -45px; top: -1px;}
                }
                .txt{ float:none; width: 100%; color: #4d4d4d; background-color: transparent; padding: 15px 0; height: auto;
                    h3{padding-bottom: 0;}
                }
                .img{float:none; min-width: 148px;  width: 148px; margin-left: 12px; padding-top: 14px;  padding-bottom: 9px;}
            }
        }
    }
/*END asmi*/