@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    .mbox{padding: 0;}

    /*vacant*/
    .vacant{
        .mobile-show-more{display: block;float: left;width: 100%;}
    }
    /*/vacant*/

    /*breadcrumbc*/
    .breadcrumb-navigation{display: none;}
    /*/breadcrumbc*/

    /*title*/
    .title{padding-bottom: 20px;padding-top: 24px;}
    /*/title*/
}
@media screen and (max-width: 767px){
    /*vacant*/
    .vacant{
        .items {
            .item{float: none;width: 100%;margin-right: 0;height: auto;background-color: #fff;border: 1px solid rgba(236, 242, 247, 0.68);padding: 15px;position: relative;padding-bottom: 19px;
                .title-text{padding-bottom: 10px;margin-bottom: 12px;}
                .text{height: auto;font-size: 12px;line-height: 18px;}
                .more{position: absolute;top: 0;left: 0;right: 0;bottom: 0;
                    a{display: block;height: 100%;font-size: 0;}
                }
            }
        }
    }
    /*/vacant*/
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}